@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz&display=swap');



body {
    padding: 20px;
    font-size: 20px;
    background-color: rgb(229, 223, 230);
    background-image: url("https://wallpapercave.com/wp/wp3215790.jpg");
    font-family: 'Yanone Kaffeesatz', sans-serif;

  }
  
  
  .header_container {  
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/152/392/34/cupcakes-hamster-animals-food-wallpaper-preview.jpg");
    background-position: center;
    justify-content: left;
    width: 55%;
    flex-direction: row;
    padding: 10px;
    margin: 10px auto;
    display: flex;
  }
  
  .header {
  color: white;
  text-shadow: #000 2px 2px 2px;
  font-size: 40px;
  margin-left: 20px;
  
  
  }
  
  
  .buttons_container {  
    
    background-image: linear-gradient(to bottom, rgba(164, 182, 223, 0.795), rgb(228, 187, 226));
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    width: 55%;
    margin: 20px auto;
    
    
  }
  
  
  .buttons {
    color: rgba(97, 27, 88, 0.493);
    width: 200px;
    height: 100px;
    padding: 8px;
    background-color: rgb(205, 230, 213);
    border-color:rgb(182, 140, 180);
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
  }
  
 
  .buttons:hover {
    background-color: #4bd46e59
  }


  
 
  
  
  @media (max-width: 1000px) {
    
    .header_container  {
      justify-content: center;
      width: 75%  
    }
  
    .header {
      font-size: 50px;
      margin-bottom: 25%;
    }
  
    .buttons_container {
    width: 75%;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
    .buttons {
    width: 50%;
    
  }
  
  .buttons:first-of-type {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .buttons:last-of-type {
    border-bottom-left-radius:  50px;
    border-bottom-right-radius: 50px;
  }
    
  
  }

  @media (max-width: 700px) {
    
    .header_container {
      justify-content: center;
      width: 75%  
    }
  
    .header {
      font-size: 28px;
      
    }
  
    .buttons_container {
    width: 75%;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
    .buttons {
    width: 50%;
    
  }
  
  .buttons:first-of-type {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .buttons:last-of-type {
    border-bottom-left-radius:  50px;
    border-bottom-right-radius: 50px;
  }
    
  
  }
